.formWrapper {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-one);
}

.formHeader {
  text-align: center;
  font-size: var(--font-size-large);
}

.signInForm {
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  background-color: var(--content-color);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-medium);
  border: 3px solid white;
  border-radius: var(--border-radius-x-small);
}

.formInput {
  height: 30px;
  border-radius: var(--border-radius-x-small);
  padding-left: var(--spacing-x-small);
}

.signInButton {
  height: 35px;
  border-radius: var(--border-radius-x-small);
  border-color: black;
  background-color: #7d977d;
  font-weight: bold;
  font-size: medium;
}

.signInButton:hover {
  background-color: var(--hover-color);
}

.signUpLink {
  text-decoration: none;
}

.forgotPasswordButton {
  background-color: var(--buttomColor);
  width: 70px;
  height: 30px;
}

.forgotPasswordButton:hover {
  background-color: var(--hover-color);
}

.resetContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.resetButtonContainer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
}

.resetFormInput {
  width: 400px;
  height: 30px;
  border-radius: var(--border-radius-x-small);
  padding-left: var(--spacing-x-small);
}

.resetPasswordButton,
.closeButton {
  height: 30px;
  width: 100px;
  background-color: var(--buttomColor);
  border-radius: var(--border-radius-x-small);
}

.resetPasswordButton:hover,
.closeButton:hover {
  background-color: var(--hover-color);
}
