.modalBackDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: auto;
}

.modalContainer {
  background-color: var(--content-color);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
}
