.navbar {
  width: 100%;
  background-color: var(--content-color);
  padding: var(--spacing-small) var(--spacing-medium);
  border-bottom-left-radius: var(--border-radius-x-small);
  border-bottom-right-radius: var(--border-radius-x-small);
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.titleLink {
  text-decoration: none;
  color: black;
}

.searchBarContainer {
  flex: 2;
  display: flex;
  justify-content: center;
}

.burgerMenuAndSignIn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-small);
  position: relative;
}

.buttonLinkGroup {
  display: flex;
  gap: var(--spacing-large);
}

.signInButton,
.signInLink {
  min-width: 85px;
  min-height: 35px;
  border: 1px solid black;
  background-color: var(--buttomColor);
  border-radius: var(--border-radius-x-small);
}
.signInLink {
  text-decoration: none;
  text-align: center;
  color: black;
  padding-top: 0.3rem;
}

.signInButton:hover,
.signInLink:hover {
  background-color: var(--hover-color);
}

.profileIcon {
  font-size: var(--font-size-large);
  color: var(--background-color-one);
}
.profileIcon:hover {
  opacity: 0.5;
}

.navLink {
  text-decoration: none;
  color: black;
}

.title {
  font-size: var(--font-size-medium);
  font-style: italic;
  flex: 1;
}

.homeLink {
  color: black;
  text-decoration: none;
  font-size: var(--font-size-medium);
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--spacing-medium);
  margin-left: auto;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  flex-direction: column;
  background-color: var(--content-color);
  border-radius: var(--border-radius-x-small);
  border: 1px solid black;
  padding: var(--spacing-small);
  gap: var(--spacing-small);
  z-index: 1000;
  min-width: 160px;
  text-align: left;
  gap: var(--spacing-small);
  display: none;
}
.show {
  display: flex;
}

.menu .navLink,
.menu .profileLink {
  color: black;
  text-decoration: none;
  padding: var(--spacing-x-small);
  text-align: left;
}

@media (max-width: 768px) {
  .title,
  .searchBarContainer,
  .burgerMenuAndSignIn {
    width: 100%;
    justify-content: center;
    margin-bottom: var(--spacing-small);
  }

  .searchBarContainer {
    order: 3;
  }
  .burgerMenuAndSignIn {
    order: 2;
    margin-right: var(--spacing-small);
  }
}
@media (max-width: 375px) {
  .navbar {
    width: 100%;
  }

  .title,
  .searchBarContainer,
  .burgerMenuAndSignIn {
    width: 100%;
    justify-content: center;
    margin-bottom: var(--spacing-small);
  }

  .title h1 {
    font-size: var(--font-size-medium);
  }
}
